<?xml version="1.0"?>
<config>
    <modules>
        <Paypal_Pickup>
            <version>0.1.4</version>
        </Paypal_Pickup>
    </modules>
    <global>
        <models>
            <paypal_pickup>
                <class>Paypal_Pickup_Model</class>
                <resourceModel>paypal_pickup_resource</resourceModel>
            </paypal_pickup>
            <paypal_pickup_resource>
                <class>Paypal_Pickup_Model_Resource</class>
                <entities>
                    <place>
                        <table>paypal_pickup_place</table>
                    </place>
                    <place_store>
                        <table>paypal_pickup_place_store</table>
                    </place_store>
                </entities>
            </paypal_pickup_resource>
        </models>
        <blocks>
            <paypal_pickup>
                <class>Paypal_Pickup_Block</class>
            </paypal_pickup>
        </blocks>
        <helpers>
            <paypal_pickup>
                <class>Paypal_Pickup_Helper</class>
            </paypal_pickup>
        </helpers>
        <resources>
            <paypal_pickup_setup>
                <setup>
                    <module>Paypal_Pickup</module>
                </setup>
            </paypal_pickup_setup>
            <paypal_pickup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </paypal_pickup_write>
            <paypal_pickup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </paypal_pickup_read>
        </resources>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <paypal_pickup_checkout_onepage_save_shipping_method>
                        <type>singleton</type>
                        <class>paypal_pickup/observer</class>
                        <method>saveInstoreInformation</method>
                    </paypal_pickup_checkout_onepage_save_shipping_method>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <sales_order_place_before>
                <observers>
                    <paypal_pickup_sales_order_observer>
                        <type>singleton</type>
                        <class>paypal_pickup/observer</class>
                        <method>updateShippingAddress</method>
                    </paypal_pickup_sales_order_observer>
                </observers>
            </sales_order_place_before>
            <sales_order_place_after>
                <observers>
                    <paypal_pickup_sales_order_observer>
                        <type>singleton</type>
                        <class>paypal_pickup/observer</class>
                        <method>updateShippingDescription</method>
                    </paypal_pickup_sales_order_observer>
                </observers>
            </sales_order_place_after>
        </events>
        <fieldsets>
            <sales_convert_quote>
                <pickup_time><to_order>*</to_order></pickup_time>
            </sales_convert_quote>
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <paypal_pickup>
                <use>standard</use>
                <args>
                    <module>Paypal_Pickup</module>
                    <frontName>paypal_pickup</frontName>
                </args>
            </paypal_pickup>checkout_controller_onepage_save_shipping_method
        </routers>
        <layout>
            <updates>
                <paypal_pickup>
                    <file>paypal/pickup.xml</file>
                </paypal_pickup>
            </updates>
        </layout>
        <translate>
            <modules>
                <Paypal_Pickup>
                    <files>
                        <default>Paypal_Pickup.csv</default>
                    </files>
                </Paypal_Pickup>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <Paypal_Pickup before="Mage_Adminhtml">Paypal_Pickup_Adminhtml</Paypal_Pickup>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <paypal_pickup>
                    <file>paypal/pickup.xml</file>
                </paypal_pickup>
            </updates>
        </layout>
        <translate>
            <modules>
                <Paypal_Pickup>
                    <files>
                        <default>Paypal_Pickup.csv</default>
                    </files>
                </Paypal_Pickup>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <carriers>
            <instore>
                <active>1</active>
                <title>In-store Fulfillment</title>
                <name>In-store Fulfillment</name>
                <model>paypal_pickup/shipping_carrier_instore</model>
            </instore>
        </carriers>
        <paypal_pickup>
            <general>
                <period>15</period>
            </general>
        </paypal_pickup>
    </default>
</config>