<config>
    <modules>
        <Paypal_Locationhere>
            <version>0.9.0</version>
        </Paypal_Locationhere>
    </modules>
    <global>
        <blocks>
            <paypal_pickup>
                <rewrite>
                    <adminhtml_place_edit_tabs_form>Paypal_Locationhere_Block_Edit</adminhtml_place_edit_tabs_form>
                </rewrite>
            </paypal_pickup>
            <paypal_locationhere>
                <class>Paypal_Locationhere_Block</class>
            </paypal_locationhere>
        </blocks>
        <models>
            <paypal_locationhere>
                <class>Paypal_Locationhere_Model</class>
                <resourceModel>paypal_locationhere_mysql4</resourceModel>
            </paypal_locationhere>
            <paypal_locationhere_mysql4>
                <class>Paypal_Locationhere_Model_Mysql4</class>
                <entities>
                    <locationhere>
                        <table>paypal_locationhere</table>
                    </locationhere>
                </entities>
            </paypal_locationhere_mysql4>
        </models>
        <resources>
            <paypal_locationhere_setup>
                <setup>
                    <module>Paypal_Locationhere</module>
                    <class>Paypal_Locationhere_Model_Resource_Mysql4_Setup</class>
                </setup>
            </paypal_locationhere_setup>
        </resources>
        <events>
            <paypal_pickup_place_save_before>
                <observers>
                    <paypal_location_observer>
                        <type>singleton</type>
                        <class>Paypal_Locationhere_Model_Observer</class>
                        <method>synchronize_location</method>
                    </paypal_location_observer>
                </observers>
            </paypal_pickup_place_save_before>
            <paypal_pickup_delete_data_after>
                <observers>
                    <paypal_location_observer>
                        <type>singleton</type>
                        <class>Paypal_Locationhere_Model_Observer</class>
                        <method>delete_location</method>
                    </paypal_location_observer>
                </observers>
            </paypal_pickup_delete_data_after>
            <paypal_cron>
                <observers>
                    <paypal_location_observer>
                        <type>singleton</type>
                        <class>Paypal_Locationhere_Model_Observer</class>
                        <method>check_location_status</method>
                    </paypal_location_observer>
                </observers>
            </paypal_cron>
        </events>
        <helpers>
            <paypal_locationhere>
                <class>Paypal_Locationhere_Helper</class>
            </paypal_locationhere>
        </helpers>
    </global>
    <frontend>
        <routers>
            <locationhere>
                <use>standard</use>
                <args>
                    <module>Paypal_Locationhere</module>
                    <frontName>locationhere</frontName>
                </args>
            </locationhere>
        </routers>        
        <layout>
            <updates>
                <paypal_locationhere>
                    <file>paypal/locationhere.xml</file>
                </paypal_locationhere>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <paypal_locationhere_openstores>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>paypal_locationhere/observer::checkLocationStatus</model>
                </run>
            </paypal_locationhere_openstores>   
        </jobs>
    </crontab>
    <crontab>
        <jobs>                     
            <paypal_locationhere_synclocations>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>paypal_locationhere/observer::synchronizeBackLocations</model>
                </run>
            </paypal_locationhere_synclocations>
        </jobs>
    </crontab>
</config>