<config>    
    <modules>
        <Paypal_Favorite>
            <version>0.9.0</version>
        </Paypal_Favorite>
    </modules>

    <frontend>
        <routers>
            <paypalfavorite>
                <use>standard</use>
                <args>
                    <module>Paypal_Favorite</module>
                    <frontName>favorite</frontName>
                </args>
            </paypalfavorite>
        </routers>
        <layout>
            <updates>
                <paypal_favorite>
                    <file>paypal/favorite.xml</file>
                </paypal_favorite>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <paypal_favorite>
                <class>Paypal_Favorite_Model</class>
                <resourceModel>paypal_favorite_resource</resourceModel>
            </paypal_favorite>
            <paypal_favorite_resource>
                <class>Paypal_Favorite_Model_Resource</class>
                <entities>
                    <customer_favorite>
                        <table>paypal_customer_favorites</table>
                    </customer_favorite>
                </entities>
            </paypal_favorite_resource>
        </models>
        <resources>
            <paypal_favorite_setup>
                <setup>
                    <module>Paypal_Favorite</module>
                    <class>Paypal_Favorite_Model_Resource_Setup</class>
                </setup>
            </paypal_favorite_setup>
        </resources>

        <blocks>
            <paypal_favorite>
                <class>Paypal_Favorite_Block</class>
            </paypal_favorite>
        </blocks>
        <helpers>
            <paypal_favorite>
                <class>Paypal_Favorite_Helper</class>
            </paypal_favorite>
        </helpers>
    </global>
</config>
