<config>
    <modules>
        <Paypal_Qrcodeorder>
            <version>0.9.0</version>
        </Paypal_Qrcodeorder>
    </modules>
    <frontend>
        <routers>
            <paypalqrcodeorder>
                <use>standard</use>
                <args>
                    <module>Paypal_Qrcodeorder</module>
                    <frontName>qrcodeorder</frontName>
                </args>
            </paypalqrcodeorder>
        </routers>
        <layout>
            <updates>
                <paypal_qrcodeorder>
                    <file>paypal/qrcodeorder.xml</file>
                </paypal_qrcodeorder>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <paypal_qrcodeorder>
                <class>Paypal_Qrcodeorder_Block</class>
            </paypal_qrcodeorder>
        </blocks>
        <helpers>
            <paypal_qrcodeorder>
                <class>Paypal_Qrcodeorder_Helper</class>
            </paypal_qrcodeorder>
        </helpers>
        <models>
            <paypal_qrcodeorder>
                <class>Paypal_Qrcodeorder_Model</class>
            </paypal_qrcodeorder>
        </models>
    </global>
    <default>
        <checkout>
            <qrcode>
                <display_success_page>0</display_success_page>
                <display_order_receipt_email>0</display_order_receipt_email>
                <ecc>L</ecc>
                <size>4</size>
                <display_text>0</display_text>
            </qrcode>
        </checkout>
    </default>
</config>
