<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Paypal_Checkout>
            <version>0.9.0</version>
        </Paypal_Checkout>
    </modules>
    <global>
        <models>
            <checkout>
                <class>Mage_Checkout_Model</class>
                <resourceModel>checkout_resource</resourceModel>
            </checkout>
            <paypal_checkout>
                <class>Paypal_Checkout_Model</class>
            </paypal_checkout>
            <checkout_resource>
                <class>Mage_Checkout_Model_Resource</class>
                <deprecatedNode>checkout_mysql4</deprecatedNode>
                <entities>
                    <agreement>
                        <table>checkout_agreement</table>
                    </agreement>
                    <agreement_store>
                        <table>checkout_agreement_store</table>
                    </agreement_store>
                </entities>
            </checkout_resource>
        </models>
        <resources>
            <checkout_setup>
                <setup>
                    <module>Mage_Checkout</module>
                    <class>Mage_Checkout_Model_Resource_Setup</class>
                </setup>
            </checkout_setup>
        </resources>
        <helpers>
            <paypal_checkout>
                <class>Paypal_Checkout_Helper</class>
            </paypal_checkout>
        </helpers>
        <blocks>
            <paypal_checkout>
                <class>Paypal_Checkout_Block</class>
            </paypal_checkout>
        </blocks>
    </global>
    <frontend>
        <routers>
            <jsoncheckout>
                <use>standard</use>
                <args>
                    <module>Paypal_Checkout</module>
                    <frontName>jsoncheckout</frontName>
                </args>
            </jsoncheckout>
        </routers>
    </frontend>
    <admin>
    </admin>
    <default>
        <checkout>
            <paypal_cart>
                <static_block>0</static_block>
            </paypal_cart>
        </checkout>
    </default>
</config>
