<?xml version="1.0"?>
<config>
    <modules>
        <Paypal_Checkin>
            <version>0.9.0</version>
        </Paypal_Checkin>
    </modules>
    <frontend>
    	<routers>
            <paypal_checkin>
                <use>standard</use>
                <args>
                    <module>Paypal_Checkin</module>
                    <frontName>paypal_checkin</frontName>
                </args>
            </paypal_checkin>
        </routers>
        <layout>
            <updates>
                <paypal_checkin module="Paypal_Checkin">
                    <file>paypal/checkin.xml</file>
                </paypal_checkin>
            </updates>
        </layout>
        <events>
            <sales_order_save_before>
                <observers>
                    <paypal_checkin_order_save_after>
                        <type>model</type>
                        <class>paypal_checkin/observer</class>
                        <method>salesOrderSaveBefore</method>
                    </paypal_checkin_order_save_after>
                </observers>
            </sales_order_save_before>
            <checkout_cart_save_before>
                <observers>
                    <paypal_checkin_cart_save_before>
                        <type>model</type>
                        <class>paypal_checkin/observer</class>
                        <method>addShipping</method>
                    </paypal_checkin_cart_save_before>
                </observers>
            </checkout_cart_save_before>
        </events>
    </frontend>
    <global>   
        <helpers>
            <paypal_checkin>
                <class>Paypal_Checkin_Helper</class>
            </paypal_checkin>
        </helpers>
        <blocks>
			<paypal_checkin>
				<class>Paypal_Checkin_Block</class>
			</paypal_checkin>
		</blocks>
        <models>
            <paypal_checkin>
                <class>Paypal_Checkin_Model</class>
            </paypal_checkin>
        </models>
        <resources>
            <paypal_checkin_setup>
                <setup>
                    <module>Paypal_Checkin</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paypal_checkin_setup>
            <checkin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </checkin_write>
            <checkin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </checkin_read>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Paypal_Checkin>
                    <files>
                        <default>Paypal_Checkin.csv</default>
                    </files>
                </Paypal_Checkin>
            </modules>
        </translate>
    </adminhtml>
    <admin>
    	<routers>
    		<adminhtml>
				<args>
                	<modules>
                    	<Paypal_Checkin before="Mage_Adminhtml">Paypal_Checkin_Adminhtml</Paypal_Checkin>
                     </modules>
                </args>
           </adminhtml>
    	</routers>
    </admin>
    <default>
		<payment>
			<paypal_checkin>
				<model>paypal_checkin/checkin</model>
                <title>PayPal Checkin</title>
                <active>0</active>
				<title>Paypal Checkin</title>
				<allowspecific>0</allowspecific>
				<sort_order>1</sort_order>
                <webservice_root_url>https://www.paypal.com/</webservice_root_url>
			</paypal_checkin>
		</payment>
    </default>
</config>
 