<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Paypal_Featuredcategory>
            <version>0.9.0</version>
        </Paypal_Featuredcategory>
    </modules>
    <global>
        <models>
            <Paypal_Featuredcategory>
                <class>Paypal_Featuredcategory_Model</class>
                <resourceModel>paypal_featuredcategory_mysql4</resourceModel>
            </Paypal_Featuredcategory>
            <paypal_featuredcategory_mysql4>
                <class>Paypal_Featuredcategory_Model_Mysql4</class>
            </paypal_featuredcategory_mysql4>
        </models>
        <helpers>
            <paypal_featuredcategory>
                <class>Paypal_Featuredcategory_Helper</class>
            </paypal_featuredcategory>
        </helpers>
        <blocks>
            <paypal_featuredcategory>
                <class>Paypal_Featuredcategory_Block</class>
            </paypal_featuredcategory>
        </blocks>
        <!--  resources for data -->
        <resources>
            <paypal_featuredcategory_setup>
                <setup>
                    <module>Paypal_Featuredcategory</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paypal_featuredcategory_setup>
            <paypal_featuredcategory_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </paypal_featuredcategory_write>
            <paypal_featuredcategory_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </paypal_featuredcategory_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <paypal_featuredcategory>
                <use>standard</use>
                <args>
                    <module>Paypal_Featuredcategory</module>
                    <frontName>paypal_featuredcategory</frontName>
                </args>
            </paypal_featuredcategory>
        </routers>
        <layout>
            <updates>
                <paypal_featuredcategory>
                    <file>paypal/featuredcategory.xml</file>
                </paypal_featuredcategory>
            </updates>
        </layout>  
    </frontend>
</config>